* {
    box-sizing: border-box;
}
.logo {
    width: 275px;
    height: 100px;
    background: url("../image/Google.png") center center no-repeat;
    margin: 100px auto 0 auto;
    background-size: contain;
}
.search {
    position: relative;
    max-width: 582px;
    height: 40px;
    margin: 10px auto;
    border: 1px solid #333;
    border-radius: 24px;
}
.search > .icon-search {
    position: absolute;
    height: 18px;
    width: 18px;
    left: 20px;
    top: 10px;
    background: url("../image/Search.png");
    background-size: contain;
    color: #999;
    font-size: 16px;
}
.search > input {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    font-size: 16px;
    padding: 0px 40px;
    border: none;
    outline: none;
}
.search > .icon-mic {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 20px;
    top: 10px;
    background: url("../image/icon-mic.png");
    background-size: contain;
    color: #999;
    font-size: 16px;
}
.search:hover {
    box-shadow: 0 0 4px 0px #333;
}

.button {
    text-align: center;
}

.button > span {
    display: inline-block;
    background: #eee;
    color: #666;
    font-size: 16opx;
    margin: 12px 8px;
    padding: 6px 12px;
}